{% trans_default_domain 'visitor' %}

{% extends 'visitor/visitor-base.html.twig' %}

{% block title %}SHF - Login{% endblock %}

{% block body %}
    <div class="uk-position-center" style="width: 400px;">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">Connexion</h3>
            </div>
            <div class="uk-card-body uk-margin-remove-top uk-text-center">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   placeholder="{{ 'visitor.login.form.username'|trans }}" class="uk-input shf-form-width-large">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input type="password" id="password" name="_password"
                                   placeholder="{{ 'visitor.login.form.password'|trans }}" class="uk-input shf-form-width-large" />
                        </div>
                    </div>

                    <div class="uk-margin uk-text-small">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-1-2@s uk-text-left">
                                <label><input class="uk-checkbox" type="checkbox" checked> Se souvenir de moi</label>
                            </div>

                            <div class="uk-width-1-2@s uk-text-right">
                                <a href="#" title="">Mot de passe oublié ?</a>
                            </div>
                        </div>
                    </div>

                    <button class="uk-button uk-button-primary uk-width-1-1" type="submit">Login</button>
                </form>
            </div>
            <div class="uk-card-footer">
                <a href="{{ path('visitor_registration') }}" title="Formulaire d'inscription">Pas encore inscrit ? c'est par ici !</a>
            </div>
        </div>
    </div>
{% endblock %}