{% trans_default_domain 'front' %}

{% extends 'front/front-base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/front-workout.js') }}"></script>
{% endblock %}

{% block title %}{{ parent() }}{{ 'front.workouts.title'|trans }}{% endblock %}

{% block body %}
    <div id="workout-details" data-workout-id="{{ workoutId }}">
        <h3>Workout</h3>
        <div id="workout"></div>

        <h3>Exercises</h3>
        <div id="workout-steps"></div>
    </div>
{% endblock %}